[Unit]
Description=Run fetchnews every 10 minutes
DefaultDependencies=false
PartOf=connection-online.target
After=connection-online.target

[Timer]
OnCalendar=*:0/15
AccuracySec=5min
#Persistent=true

[Install]
WantedBy=network-online.target
